.footer-container {
    background-color: #191919;
    padding: 40px;
    margin-top: 90px;

}

/* elements inside footer container */
.footer-para,
.contact-info p {
    color: #999799;
}

.contact-info {
    width: 300px;
}